/* Matched.module.css */

.matchedContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f0f0f0;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .matchedTitle {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 20px;
  }
  
  .matchedNav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .navLink {
    font-size: 1.2em;
    color: #007BFF;
    text-decoration: none;
    margin-bottom: 10px;
    transition: color 0.3s;
  }
  
  .navLink:hover {
    color: #0056b3;
  }
  
  .buttonContainer {
    margin-top: 20px;
  }
  
  /* Button styles */
  button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
  }
  
  button:hover {
    background-color: #0056b3;
    border-color: #0056b3;
  }
  
  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
  